{% extends "base.html" %}
{% block title %}Servers{% endblock %}

{% block main_content %}
<style>
  .server-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 0.75rem;
  }

  .server-pill {
    display: grid;
    grid-template-columns: .2fr auto auto;
    align-items: center;
    padding: 0.75rem 1rem;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 9999px;
    background: #181C25;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  }

  .server-name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .server-type {
    justify-self: left;
    margin-left: 1rem;
  }

  .status-dot {
    justify-self: end;
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    margin-left: 0.75rem;
  }
  .status-dot.up {
    background: #16a34a;
    box-shadow: 0 0 0 3px rgba(22,163,74,.15);
  }
  .status-dot.down {
    background: #dc2626;
    box-shadow: 0 0 0 3px rgba(220,38,38,.15);
  }
  .status-dot.unknown {
      background: #F0F0F0;
      box-shadow: 0 0 0 3px rgba(255,255,255,.15);

  }
  .server-wrap {
    max-width: 900px;
    margin: 0 auto;
  }
  .invis-a{
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: auto;
  }
  .server-pill:hover {
      background: #3A455E;
  }
</style>

<div class="server-wrap">
  <ul class="server-list">
    {% for service in services %}
      <a href="" class="invis-a"><li class="server-pill">
        <span class="server-name">{{ service.name }}</span>
        <span class="server-type">{{ service.type }}</span>
        <span class="status-dot {% if service.status == 'UP' %}up{% elif service.status == 'DOWN'%}down{%else%}unknown{% endif %}"></span>
      </li></a>
    {% empty %}
      <li class="server-pill">
        <span class="server-name">No servers</span>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
