{% extends "dashboard_view/admin_base.html" %}
{% block title %} Log Sources {% endblock %}

{% block main_content %}
<main class="flex-1 overflow-y-auto bg-slate-800 p-6">
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-2xl font-semibold">Log Sources</h2>
    <a hx-get="{% url 'log-sources-add' %}"
   hx-target="#modal-body"
   hx-swap="innerHTML"
   class="rounded-md bg-sky-600 px-4 py-2 text-sm font-semibold text-white hover:bg-sky-500">
  + Add
</a>
  </div>

  <div class="overflow-x-auto rounded-lg border border-white/10 bg-slate-900">
    <table class="min-w-full text-left text-sm">
      <thead class="border-b border-white/10 bg-slate-900/70 text-slate-300">
        <tr>
          <th class="px-4 py-3">Service</th>
          <th class="px-4 py-3">Type</th>
          <th class="px-4 py-3">Path</th>
          <th class="px-4 py-3">Parser</th>
          <th class="px-4 py-3">Created</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-white/5">
        {% for l in log_sources %}
        <tr class="hover:bg-slate-800/60">
          <td class="px-4 py-3">{{ l.service_id.name }}</td>
          <td class="px-4 py-3">{{ l.source_type }}</td>
          <td class="px-4 py-3">{{ l.path }}</td>
          <td class="px-4 py-3">{{ l.parser }}</td>
          <td class="px-4 py-3">{{ l.created_at }}</td>
            <td class="px-4 py-3">
              <div class="flex justify-end ">
                <a
                  href="#"
                  class="text-[#ff0000] text-lg px-2 py-0.5 leading-tight"
                >×</a>
              </div>
            </td>

        </tr>

        {% empty %}
        <tr>
          <td class="px-4 py-6 text-slate-400" colspan="5">No records yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}