{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}
<!-- Remove header for login -->
{% block header %} {% endblock %}
<!-- Remove navbar for login -->
{% block navbar %}{% endblock %}

{% block main_content %}

<body>
  <main class="container" style="max-width: 400px; margin: auto; padding-top: 10vh;">
    <h1 style="text-align: center;">Login</h1>
    <form method="post" action="/login/">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter password" required>

      <button type="submit" style="width: 100%;">Login</button>
    </form>
  </main>

{% endblock %}